body {
  color: #ddd;
  background-color: #000;
}

a:hover {
  color: yellow;
}

header {
  background-color: #222;
  /* background-image: linear-gradient(#000, #121212); */
  box-shadow: 0 0 1em #ccc;
  color: inherit;
}

header .moonsunicon:hover {
  filter: drop-shadow(0 0 .1em yellow);  
}

header .fa-moon {
  display: none;
}

header .fa-sun {
  display: block;
}

header .greeting {
  color: rgb(255, 241, 110);
}

/* header nav .borderAni:hover:after {
  border-bottom-color: yellow;
} */

header nav .btn {
  background-color: inherit;
}

header nav .btn:hover {
  background-color: #000;
}

header nav .active {
  background-color: rgb(85, 84, 14);
}

article section {
  color: #bbb;
}

footer {
  background-color: #111;
  border-top-color: rgb(61, 57, 0);
}

/* HOME -------------------------------------------*/
article.home .narciso .bigfive {
  color: #fff;
}

article.home .greeting {
  color: #fff;
}

article.home .phrase {
  color: #fff;
}

/* IT -------------------------------------------*/
article.it .item {
  border: 1px solid #222;
}

article.it h2 {
  background-color: #222;
}

article.it a:hover {
  background-color: rgb(15, 31, 37);
}

/* MUSIC -------------------------------------------*/


/* RESUME -------------------------------------------*/
article.resume .bottom .title {
  background-color: #222;
}