body {
  color: #ddd;
  background-color: #000;
}

a:hover {
  color: yellow;
}

header {
  color: inherit;
  background-color: #222;
  /* background-image: linear-gradient(#000, #121212); */
  box-shadow: 0 0 1em rgba(255, 255, 255, 0.5);
}

header .moonsunicon:hover {
  filter: drop-shadow(0 0 10px rgba(255, 238, 0, 1));
}

header .fa-moon {
  display: none;
}

header .fa-sun {
  display: block;
}

header .greeting {
  color: rgba(255, 238, 0, 0.7);
}

header nav {
  background-color: inherit;
}

header nav .active {
  color: inherit;
  background-color: rgba(255, 238, 0, 0.1);
}

header nav a:hover::after {
  border-bottom-color: yellow;
}

article section {
  color: #bbb;
}

footer {
  background-color: #111;
  border-color: rgba(255, 238, 0, 0.07);
}

footer .rights {
  border-color: rgba(255, 238, 0, 0.07);
}

/* HOME -------------------------------------------*/
article.home .greeting {
  color: #fff;
}

/* IT -------------------------------------------*/
article.it section {
  border: 1px solid rgba(255, 255, 255, 0.2);
}

article.it section h2 {
  background-color: rgba(255, 255, 255, 0.1);
}

article.it a {
  border: 1px solid transparent;
}

article.it a:hover {
  color: inherit;
  border: 1px solid yellowgreen;
}

/* MUSIC -------------------------------------------*/

/* RESUME -------------------------------------------*/
article.resume .title-career {
  background-color: rgba(255, 255, 255, 0.12);
}

article.resume .job {
  border-color: rgba(255, 255, 255, 0.2);
}

article.resume .skills h2 {
  background-color: rgba(255, 255, 255, 0.1);
}
