:root {
  --hover-dark: var(--hover);
  --hover-dark-bg: var(--hover-bg);
}

body {
  color: #ddd;
  background-color: #000;
}

a:hover,
button:hover {
  color: var(--hover-dark);
}

header {
  color: inherit;
  background-color: rgba(255, 255, 255, 0.1);
  /* background-image: linear-gradient(#000, #121212); */
  /* box-shadow: 0 0 1em rgba(255, 255, 255, 0.5); */
}

header .moonsunicon:hover {
  filter: drop-shadow(0 0 10px rgba(255, 238, 0, 1));
}

header .fa-moon {
  display: none;
}

header .fa-sun {
  display: block;
}

header .greeting {
  /* color: var(--hover-dark); */
}

header nav {
  background-color: inherit;
}

header nav .active {
  color: var(--hover-dark);
  background-color: var(--hover-dark-bg);
}

header nav a:hover::after {
  border-bottom-color: var(--hover-dark);
}

article section {
  color: #bbb;
}

footer {
  background-color: #111;
  border-color: var(--hover-dark-bg);
}

footer .rights {
  border-color: var(--hover-dark-bg);
}

/* HOME -------------------------------------------*/
article.home .photo {
  border-color: var(--hover-dark-bg);
}

article.home .greeting {
  color: #fff;
}

/* IT -------------------------------------------*/
article.it section {
  border: 1px solid rgba(255, 255, 255, 0.2);
}

article.it section h2 {
  background-color: rgba(255, 255, 255, 0.1);
}

article.it a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

article.it .accordion:hover {
  border-color: yellowgreen;
  background-color: rgba(255, 255, 255, 0.1);
}

/* MUSIC -------------------------------------------*/

/* RESUME -------------------------------------------*/
article.resume .title-career {
  background-color: rgba(255, 255, 255, 0.12);
}

article.resume .job {
  border-color: rgba(255, 255, 255, 0.2);
}

article.resume .skills h2 {
  background-color: rgba(255, 255, 255, 0.1);
}
