/* Arial (sans-serif)
Verdana (sans-serif)
Helvetica (sans-serif)
Tahoma (sans-serif)
Trebuchet MS (sans-serif)
Times New Roman (serif)
Georgia (serif)
Garamond (serif)
Courier New (monospace)
Brush Script MT (cursive) */

@font-face {
  font-family: 'MrDeHaviland';
  src: url('/ttf/MrDeHaviland-Regular.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  /* font-size: 62.5%; */
}

body {
  display: grid;
  grid-template-columns: auto 85ch auto;
  /* grid-template-rows: auto 1fr auto; */
  grid-template-areas: 
    'header header header'
    'left article right'
    'footer footer footer';
  min-height: 100%;
  margin: 0;
  line-height: 1.8em;
  font-family: Ubuntu, 'Trebuchet MS', sans-serif; 
  
  background-color: #fff;
}

a {
  transition: ease-in-out .75s;
  text-decoration: none;
  color: inherit;
}

a:hover {
  transition: ease-in .25s;
  color: blue;
}

article h3,
article p {
  margin: 0;
}

article h1 {
  font-size: 2em;
  margin: 0;
}

article h2 {
  font-size: 1.5em;
  margin: 0;
}

.fl-c:first-letter {
  font-size: 4.7em;
  font-weight: bold;
  border: .1rem dashed #999;
  margin-right: .1em;
  padding: .41em .25em;
  float: left;
}

header { grid-area: header; }
article { grid-area: article; }
.left { grid-area: left; }
.right { grid-area: right;}
footer { grid-area: footer; }

header {
  position: fixed;
  display: flex;
  flex-flow: column;
  width: 100%;
  overflow: hidden;
  /* padding: 25px 35px 0px 35px; */
  z-index: 1;

  background-color: #eee;
  filter: drop-shadow(2px 2px 2px #555);
  color: #000;
}

header .moonsunicon {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  cursor: pointer;
  font-size: 1.2em;
}

header .moonsunicon {
  transition: ease-in-out .5s;
  color: #000;
}

header .moonsunicon:hover {
  transition: ease-in .25s;
  filter: drop-shadow(0 0 .5em #000);
}

header .fa-sun {
  color: yellow;
  display: none;
}

header .greeting {
  font-size: 3em;
  font-weight: normal;
  font-family: 'MrDeHaviland', monospace;
  align-self: center;

  color: rgb(0, 70, 128);
}

header nav {
  display: flex;
  align-self: center;
  margin: 0 2em;
}

header nav .borderAni:after {
  display: block;
  content: "";
  margin: 0 auto;
  width: 0%;
  border-bottom: .2em solid transparent;
  transition: ease-in-out .5s;
}

header nav .borderAni:hover:after {
  transition: ease-in .25s;
  border-bottom-color: blue;
  width: 100%;
}

header nav a {
  font-family: 'Open Sans', sans-serif;
  border: solid transparent;
  margin: 0 1em;

  color: #000;
}

header nav a:active {
  color: yellow;
}

header nav .fas {
  margin-right: .2rem;
}

article {
  padding-top: 8.5em;
}

article section {
  margin: 1rem;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: ridge .6rem;
  font-family: 'Trebuchet MS', sans-serif;

  color: #ccc;
  border-top-color: #777;
  background-color: #000;
  /* background-image: linear-gradient(45deg, #3d2812 0%,#462215 25%,#251844 50%,#1f2d53 75%,#143442 100%); */
  /* background-image: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#5d27dc 50%,#2350cc 75%,#1888bc 100%); */
}

footer .icons {
  display: flex;
  list-style-type: none;
  margin: 3rem 0 2rem 0;
}

footer .icons a {
  font-size: 2.5em;
  margin: 0 2rem;
  color: #ccc;
}

footer .icons a:hover {
  filter: saturate(200%);
}

footer .fa-github {color: #fff;}
footer .fa-linkedin-in {color: #0077B5;}
footer .fa-instagram {
  background:
   radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
   radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
   radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
   radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
   radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
   radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
   radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
   linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
footer .fa-facebook {color: #3A5795;}
footer .fa-envelope {color: rgb(0, 162, 190);}

footer .rights {
  font-size: .9em;
}

/* HOME -------------------------------------------*/
article.home {
  text-align: justify;
}

article.home p {
  margin-bottom: 1em;
}

article.home .narciso {
  float: right;
}

article.home .narciso .photo {
  width: 13em;
  border: 1px solid #555;
  border-radius: 100%;
  margin-left: 1em;
  filter: drop-shadow(0 0 .3em #000);
}

article.home .narciso .bigfive {
  font-weight: bold;
  font-style: italic;
  text-align: center;
}

article.home .narciso .bigfive a {
  text-decoration: underline;
}

article.home .greeting,
article.home .phrase {
  font-weight: normal;
  margin-bottom: .8em;
  font-family: 'Dancing Script', cursive;
}

/* IT -------------------------------------------*/
article.it {
  display: grid;
  grid-template-columns: auto auto auto;
}

article.it section {
  justify-self: stretch;
  margin-bottom: 4rem;
}

article.it .item {
  padding: 1em;
  border: .1rem solid #ddd;
  height: 100%;
}

article.it h2 {
  padding: .5em 1em;
  border-radius: 1rem 1rem 0 0;
  background-color: #ddd;
}

article.it a {
  padding: .4em;
}

article.it a:hover {
  transition: color .3s;
  border-radius: .5rem;
  color: yellow;
  background-color: #000000;
}

article.it ul,
article.it ol {
  padding-left: 1.5em;
}

/* MUSIC -------------------------------------------*/


/* RESUME -------------------------------------------*/
article.resume {
  grid-template-columns: auto 30%;
  grid-template-areas: 
    'top top'
    'left right';
}

article.resume ul,
article.resume ol {
  padding-left: 1.2em;
  list-style-position: inside;
}

article.resume .justified {
  text-align: justify;
}

article.resume .top { grid-area: top; }
article.resume .left { grid-area: left; }
article.resume .right { grid-area: right; }

article.resume .top .name {
  margin-bottom: .8em;
}

article.resume .top .details {
  display: flex;
  gap: 1.5em;
  margin-bottom: .8em;
}

article.resume .left {
  display: grid;
  grid-template-columns: 13% auto;
  gap: 1em;
}

article.resume .left .title {
  grid-column: 1 / 3;
  text-align: center;
  padding: .8em;
  border-radius: 1rem 1rem 0 0 ;

  background-color: #eee;
}

article.resume .left .company {
  margin-top: 0;
}

article.resume .left .dates p {
  font-weight: bold;
  margin: 0;
}

article.resume .right .sydney {
  margin: 0;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (max-width: 1200px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (max-width: 992px) {

  body {
    grid-template-columns: auto;
    grid-template-areas: 
      'header'
      'article'
      'footer';
  }

  header .greeting {
    align-self: center;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (max-width: 768px) {

  /* IT ----------------------------------------------*/
  article.it {
    grid-template-columns: auto auto;
  }

}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {

  header {
    position: static;
  }

  article {
    padding-top: .5em;
  }

  /* IT ----------------------------------------------*/
  article.it {
    grid-template-columns: auto;
  }

}

/* iPhone 6+'s breakpoint */
@media screen and (max-width: 480px) {
}

/* iPhone 5S's breakpoint */
@media screen and (max-width: 320px) {
}

/* If the orientation is in landscape mode */
@media only screen and (orientation: landscape) {

  /* body {
    
  } */

}