/* Arial (sans-serif)
Verdana (sans-serif)
Helvetica (sans-serif)
Tahoma (sans-serif)
Trebuchet MS (sans-serif)
Times New Roman (serif)
Georgia (serif)
Garamond (serif)
Courier New (monospace)
Brush Script MT (cursive) */

@font-face {
  font-family: 'MrDeHaviland';
  src: url('/ttf/MrDeHaviland-Regular.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: grid;
  grid-template-columns: 150px auto 150px;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    'header header header'
    'left article right'
    'footer footer footer';
  min-height: 100%;
  margin: 0;
  padding: 0;
  /* font-family: Calibri, 'Trebuchet MS', sans-serif; */
 
  background-color: #fff;
}

header { grid-area: header; }
article { grid-area: article; }
.left { grid-area: left; }
.right { grid-area: right;}
footer { grid-area: footer; }

header {
  display: flex;
  flex-flow: row wrap;
  position: fixed;
  /* justify-items: end; */
  /* left: 150px; */
  /* right: 150px; */
  height: 100px;
  overflow: hidden;

  background-color: #fff;
  /* background-image: linear-gradient(#eee, #fff); */
  box-shadow: 0px 0px 15px 1px #111;
  color: #000;
}

header .darkText {
  position: absolute;
  top: -2.5px;
  right: 47px;
}

header #moonSun {
  position: absolute;
  top: 15px;
  right: 20px;
}

header #moonSun:hover {
  opacity: .8;
}

header #darkBtn {
  position: absolute;
  top: 15px;
  right: 20px;
  padding: 10px;
  border: 2px solid #888;
  border-radius: 100%;

  background-color: #000;
  box-shadow: 0px 0px 6px 3px transparent;
}

header #darkBtn:hover {
  cursor: pointer;
  box-shadow: 0px 0px 6px 3px #000;
  animation: darkBtn .1s;
}

header .item{
  /* border: solid 1px #000; */
  justify-items: space-between;
}

header .phrase {
  font-family: 'MrDeHaviland', monospace;

  color: rgb(0, 70, 128);
}

header nav {
  display: flex;
  /* justify-content: end; */
  /* justify-content: space-evenly; */
}

header nav a {
  margin: 0 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  text-decoration: none;

  color: #000;
}

header nav a:active {
  background-color: dodgerblue;
  color: #fff;
}

header nav .fas {
  margin: 0 3px 0 0;
}

header nav .fas:hover {
  /* opacity: 0.7; */
}

header nav .borderAni:after {
  content: "";
  margin: 0 auto;
  padding: 0 0 5px 0;
  display: block;
  width: 0%;
  border-bottom: 3px solid transparent;
  transition: .2s;
}

header nav .borderAni:hover:after {
  border-bottom-color: rgb(163, 65, 255);
  width: 100%;
}

article {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 0;
  /* padding: 150px 0 0 0; */
  /* margin-top: 10px; */
  font-family: 'Yantramanav', sans-serif;
  font-size: 3.3vw;
  /* font-family: 'Trebuchet MS', sans-serif; */

  /*
  display: flex;
  
  flex-flow: wrap;
  align-content: space-around;
  justify-content: center;
  padding: 160px 10px 10px 10px;
  
  justify-content: space-between;
  padding-top: 150px;

  flex-direction: column;
  padding: 150px 0 20px 0;
  */
}

section {
  padding: 10px;
}

footer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 0 3px 0;
  border-top: solid 1px;
  font-family: Calibri;

  color: rgb(0, 70, 128);
  background-color: #ccc;
  border-top-color: #aaa;
}

footer ul {
  display: flex;
  list-style-type: none;
  margin: 0 0 20px 0;
  padding: 0;
}

footer .icon {
  font-size: 30px;
  margin: 0 10px;
  color: #007bb5;
}

footer .icon:hover {
  color: #000;
}

/* footer .fa-google-plus-g {
  color: #dd4b39;
}

footer .fa-linkedin-in {
  color: #007bb5;;
} */

footer .rights {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

/* HOME -------------------------------------------*/
article.home .first {
  margin-top: 0;
}

/* RESUME -------------------------------------------*/
article.resume .detail ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  justify-content: space-between;
}

article.resume .detail a {
  text-decoration: none;
}

article.resume .detail a:hover {
  text-decoration: underline;
}

article.resume .detail li {
  /* padding: 0 5px; */
}

@keyframes darkBtn {
  from {box-shadow: inherit;} 
}

@keyframes border {
  from {border-color: inherit;}
}

@keyframes link {
  from {color: inherit;}
}

/* Media Queries ---------------------------------------------*/

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (min-width: 1200px) {
  /* header {
    padding-top: 50px;
    justify-content: center;
    text-align: center;
  }

  article, article-contact {
    grid-template-columns: auto auto;
  } */
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (min-width: 992px) {
  /* article, article-contact {
    grid-template-columns: auto;
  } */
}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (min-width: 768px) {
  /* header {
    justify-content: space-between;
    text-align: center;
  }

  article, article-contact {
    padding-top: 190px;
  } */
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media screen and (max-width: 600px) {

  body {
    grid-template-columns: auto;
    grid-template-areas: 
      'header'
      'article'
      'footer';
  }

  header {
    position: static;
    justify-content: center;
    left: 0px;
    right: 0px;
    height: auto;
  }

  header .phrase {
    margin: 40px 0px 20px 0px;
  }

  article {
    grid-template-columns: auto;
    padding: 20px;
  }
  
  /* HOME -------------------------------------------*/
  /* article.home {
  }

  article.home .detail {
    
  } */

  /* IT -------------------------------------------*/
  /* article.tech h1, h2, p {
    padding: 5px 15px;
    margin: 0;
  }

  article.tech a {
    text-decoration: none;
  }

  article.tech a:hover {
    text-decoration: underline;
    text-decoration-style: dashed;
  }

  article.tech ol, ul {
    margin: 0 0 20px 0;
  } */

  /* Contact ----------------------------------------*/

  article.contact {
    border-radius: 5px;
    padding: 20px;
    margin-top: 100px;

    background-color: #f2f2f2;
  }

  article.contact p {
    padding: 10px 10px 10px 0;
  }

  article.contact input[type=text], input[type=email], textarea {
    font-family: inherit;
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */

    border: 1px solid #ccc;
  }

  article.contact input[type=submit] {
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    background-color: #4CAF50;
    color: #fff;
  }

  article.contact input[type=submit]:hover {
    background-color: #45a049;
  }

}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
  
  /* If the screen size is 600px wide or less, hide the element */
  div.example {
    /* display: none; */
  }

}

@media screen and (min-width: 480px) {

}

@media screen and (min-width: 320px) {

}

/* If the orientation is in landscape mode */
@media only screen and (orientation: landscape) {
  body {
    
  }
}