@font-face {
  font-family: 'MrDeHaviland';
  src: url('/ttf/MrDeHaviland-Regular.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  /* font-size: 62.5%; */
}

body {
  display: grid;
  grid-template-columns: auto 85ch auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: 
    'header header header'
    'left article right'
    'footer footer footer';
  min-height: 100%;
  margin: 0;
  line-height: 1.7rem;
  font-family: Ubuntu, 'Trebuchet MS', sans-serif; 
  
  background-color: #f9f9f9;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  transition: color ease-in .2s, background-color ease-in-out .2s;
  -moz-transition: color ease-in .2s, background-color ease-in-out .2s;
  color: blue;
}

.fl-c:first-letter {
  font-size: 4.7em;
  font-weight: bold;
  border: .1rem dashed #999;
  margin: .5rem .4rem 0 0;
  padding: .5em .3em;
  float: left;
}

header { grid-area: header; }
article { grid-area: article; }
.left { grid-area: left; }
.right { grid-area: right;}
footer { grid-area: footer; }

header {
  position: fixed;
  display: flex;
  flex-flow: column;
  width: 100%;
  overflow: hidden;
  z-index: 1;

  background-color: #fff;
  box-shadow: 0 0 .5em #000;
  color: #000;
}

header .moonsunicon {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
  font-size: 1.2em;
}

header .moonsunicon {
  transition: ease-in-out .5s;
  -moz-transition: ease-in-out .5s;
  color: #000;
}

header .moonsunicon:hover {
  filter: drop-shadow(0 0 .5em #000);
}

header .fa-sun {
  color: yellow;
  display: none;
}

header .greeting {
  font-size: 3em;
  font-weight: normal;
  text-align: left;
  font-family: 'MrDeHaviland', monospace;
  align-self: center;

  color: rgb(0, 70, 128);
}

header nav {
  display: flex;
  align-self: center;
  font-family: 'Open Sans', sans-serif;
}

header nav .btn {
  padding: .4em 1em;
  background-color: #fff;
}

header nav .btn:hover {
  background-color: #eee;
}

header nav .active {
  background-color: rgb(189, 213, 221);
  font-weight: bold;
}

/* header nav a {
  border: solid transparent;
} */

header nav a:active {
  color: #000;
}

header nav .fas {
  margin-right: .2rem;
}

/* header nav .borderAni:after {
  display: block;
  content: "";
  margin: 0 auto;
  width: 0%;
  border-bottom: .2em solid transparent;
  transition: ease-in-out .5s;
  -moz-transition: ease-in-out .5s;
}

header nav .borderAni:hover:after {
  transition: ease-in .25s;
  -moz-transition: ease-in .25s;
  border-bottom-color: blue;
  width: 100%;
} */

article {
  padding: 150px 1em 1em;
}

article :is(h3, h4, p) {
  margin: 0;
}

article h1 {
  font-size: 2em;
  margin: 0;
}

article h2 {
  font-size: 1.5em;
  margin: 0;
}

footer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: flex-end;
  border-top: solid .3rem;
  padding: 3em 0 .05em 0;
  font-family: 'Trebuchet MS', sans-serif;

  color: #ccc;
  background-color: #000;
  border-top-color: rgb(0, 99, 156);
  /* background-image: linear-gradient(45deg, #3d2812 0%,#462215 25%,#251844 50%,#1f2d53 75%,#143442 100%); */
  /* background-image: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#5d27dc 50%,#2350cc 75%,#1888bc 100%); */
}

footer .icons {
  display: inline-block;
  margin-bottom: 1rem;
}

footer .icons a {
  font-size: 2.5em;
  padding: 0 .3em;
}

footer .icons a:hover {
  filter: saturate(200%);
}

footer .fa-github {color: #fff;}
footer .fa-linkedin-in {color: #0077B5;}
footer .fa-instagram {
  background:
   radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
   radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
   radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
   radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
   radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
   radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
   radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
   linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
footer .fa-facebook {color: #3A5795;}
footer .fa-envelope {color: rgb(0, 162, 190);}

footer .rights {
  font-size: .8em;
}

/* HOME -------------------------------------------*/
article.home {
  text-align: justify;
}

article.home p {
  margin-bottom: 1.5rem;
}

article.home .narciso {
  float: right;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-left: 3rem;
}

article.home .narciso .photo {
  width: 13em;
  margin-bottom: 1rem;
  border: .1em solid #777;
  border-radius: 100%;
  filter: drop-shadow(0 0 .3em #000);
}

article.home .narciso .bigfive {
  font-weight: bold;
  font-style: italic;
}

article.home .narciso .bigfive a {
  text-decoration: underline;
}

article.home .greeting {
  font-size: 2em;
  font-weight: normal;
  /* text-align: left; */
  margin-bottom: .8rem;
  font-family: 'Dancing Script', cursive;
}

article.home .phrase {
  font-size: 1.5em;
  font-weight: normal;
  margin-bottom: .8rem;
  font-family: 'Dancing Script', cursive;
}

/* IT -------------------------------------------*/
article.it {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: stretch;

  /* gap: 1rem; */
}

article.it section {
  flex-grow: 1;
  border: 1px solid #bbb;
  /* border: .2rem solid #ddd; */
  border-radius: 10px 10px 0 0;
  margin: 0 .5rem 1rem;
}

article.it section h2 {
  padding: .5em;
  border-radius: inherit;
  background-color: #eee;
}

article section h3 {
  margin: .8rem 0 0 .8rem;
}

article.it a {
  padding: .3em;
  margin-right: 1rem;
}

article.it a:hover {
  border-radius: .5rem;
  color: yellow;
  background-color: #000000;
}

/* MUSIC -------------------------------------------*/
article.music {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* RESUME -------------------------------------------*/
article.resume {
  grid-template-columns: auto;
  grid-template-areas: 
    'top'
    'bottom';
  
  /* grid-template-columns: auto 30%;
  grid-template-areas: 
    'top top'
    'left right'; */
}

article.resume :is(ul, ol) {
  padding-left: 1.2em;
  list-style-position: inside;
}

article.resume .justified {
  text-align: justify;
}

article.resume .top { grid-area: top; }
article.resume .bottom { grid-area: bottom; }

/* article.resume .top { grid-area: top; }
article.resume .left { grid-area: left; }
article.resume .right { grid-area: right; } */

article.resume .name {
  margin-bottom: .8rem;
}

article.resume .details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

article.resume .academic {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

article.resume .aussie-flag {
  display: flex;
  justify-content: space-evenly;
}

article.resume .cover-letter {
  margin-bottom: 2rem;
}

article.resume .bottom {
/* article.resume .left { */
  display: grid;
  grid-template-columns: 13% auto;
  gap: 1em;
}

article.resume .bottom .title {
/* article.resume .left .title { */
  grid-column: 1 / 3;
  text-align: center;
  padding: .7em;
  border-radius: 1rem 1rem 0 0 ;

  background-color: #eee;
}

article.resume .job-date {
/* article.resume .left .dates p { */
  font-weight: bold;
}

article.resume .skills {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  /* line-height: 1.2em; */
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media screen and (max-width: 1200px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media screen and (max-width: 992px) {

  body {
    grid-template-columns: auto;
    grid-template-areas: 
      'header'
      'article'
      'footer';
  }

  header .greeting {
    align-self: center;
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media screen and (max-width: 768px) {

  /* IT ----------------------------------------------*/
  article.it {
    grid-template-columns: auto auto;
  }

}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {

  body {
    font-size: 15px;
  }
  
  header {
    position: static;
    padding-top: 1.5em;
  }

  article {
    padding-top: 1.3em;
  }

  footer .rights {
    font-size: .65em;
  }

  /* IT ----------------------------------------------*/
  article.it {
    grid-template-columns: auto;
  }

  /* RESUME ------------------------------------------*/
  article.resume .details{
    flex-direction: column;
  }

  article.resume .bottom {
    display: flex;
    flex-direction: column;
  }

}

/* iPhone 6+'s breakpoint */
@media screen and (max-width: 480px) {
}

/* iPhone 5S's breakpoint */
@media screen and (max-width: 320px) {
}

/* If the orientation is in landscape mode */
@media only screen and (orientation: landscape) {

  /* body {
    
  } */

}