@font-face {
  font-family: "MrDeHaviland";
  src: url("/ttf/MrDeHaviland-Regular.ttf") format("truetype");
}

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "article"
    "footer";
  margin: 0;
  line-height: 1.5;
  font-family: Ubuntu, "Trebuchet MS", sans-serif;
  font-size: 15px;

  background-color: #f9f9f9;
}

header {
  grid-area: header;
}
article {
  grid-area: article;
}
.left {
  grid-area: left;
}
.right {
  grid-area: right;
}
footer {
  grid-area: footer;
}

body :is(h1, h2, h3, h4, p) {
  margin: 0;
}

body h1 {
  font-size: 2em;
}

body h2 {
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  transition: color ease-in-out 400ms, background-color ease-in-out 400ms;
  -moz-transition: color ease-in-out 400ms, background-color ease-in-out 400ms;
  color: blue;
}

.fl-c:first-letter {
  font-size: 3em;
  font-weight: bold;
  border: 1px dashed #999;
  margin-top: 0.4rem;
  margin-right: 0.4rem;
  padding: 0.26em 0.2em;
  float: left;
}

header {
  position: fixed;
  display: flex;
  flex-flow: column;
  width: 100%;
  overflow: hidden;
  z-index: 1;

  background-color: #fff;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5);
  color: #000;
}

header .moonsunicon {
  position: absolute;
  top: 15px;
  right: 25px;
  cursor: pointer;
  font-size: 1.2em;
}

header .moonsunicon {
  transition: filter ease-in-out 500ms;
  -moz-transition: filter ease-in-out 500ms;
  color: #000;
}

header .moonsunicon:hover {
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 1));
}

header .fa-sun {
  color: yellow;
  display: none;
}

header .greeting {
  font-size: 3em;
  margin: 3rem 0 2rem 1.7rem;
  align-self: center;
  line-height: 0;
  font-weight: normal;
  font-family: "MrDeHaviland", monospace;

  color: rgb(0, 70, 128);
}

header nav {
  display: flex;
  align-self: center;
  font-family: "Open Sans", sans-serif;
}

header nav a {
  padding: 5px 10px 0;
  margin: 0;
  /* background-color: inherit; */
}

header nav .active {
  background-color: rgb(189, 213, 221);
}

/* header nav a:active {
  color: #000;
} */

header nav a::after {
  display: block;
  content: "";
  margin: 0 auto;
  width: 0%;
  border-bottom: 3px solid transparent;
}

header nav a:hover::after {
  transition: width ease-in-out 250ms;
  -moz-transition: width ease-in-out 250ms;
  border-bottom-color: blue;
  width: 100%;
}

article {
  padding: 9em 1em 1em;
}

footer {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  border-top: solid 3px;
  padding: 3em 0 0.05em;
  font-family: "Trebuchet MS", sans-serif;

  color: #ccc;
  background-color: #000;
  border-top-color: rgba(0, 47, 255, 0.5);
  /* background-image: linear-gradient(45deg, #3d2812 0%,#462215 25%,#251844 50%,#1f2d53 75%,#143442 100%); */
  /* background-image: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#5d27dc 50%,#2350cc 75%,#1888bc 100%); */
}

footer .icons {
  font-size: 2.5em;
  margin-bottom: 1em;
}

footer .icons a {
  padding: 0 0.3em;
}

footer .icons a:hover {
  filter: saturate(200%);
}

footer .fa-github {
  color: #fff;
}
footer .fa-linkedin-in {
  color: #0077b5;
}
footer .fa-instagram {
  background: radial-gradient(
      circle farthest-corner at 35% 90%,
      #fec564,
      transparent 50%
    ),
    radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
    radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 20% -50%,
      #5258cf,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
    radial-gradient(
      ellipse farthest-corner at 60% -20%,
      #893dc2,
      transparent 50%
    ),
    radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
    linear-gradient(
      #6559ca,
      #bc318f 30%,
      #e33f5f 50%,
      #f77638 70%,
      #fec66d 100%
    );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
footer .fa-facebook {
  color: #3a5795;
}
footer .fa-envelope {
  color: rgb(0, 162, 190);
}

footer .rights {
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.4);
  margin-bottom: 10px;
}

/* HOME -------------------------------------------*/
article.home {
}

article.home p {
  margin-bottom: 1.5rem;
}

article.home .narciso {
  float: right;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin-left: 3rem;
}

article.home .photo {
  width: 13em;
  border: 2px solid rgba(0, 41, 75, 1);
  border-radius: 100%;
  /* filter: drop-shadow(4px 8px 5px rgba(0, 0, 0, 0.6)); */
  /* box-shadow: 2px 10px 5px -1px rgba(0, 0, 0, 0.6); */
  outline: 4px solid rgba(0, 41, 75, 1);
  outline-offset: 2px;
}

article.home .greeting {
  font-size: 2em;
  font-weight: normal;
  /* text-align: left; */
  margin-bottom: 0.8rem;
  font-family: "Dancing Script", cursive;
}

article.home .phrase {
  font-size: 1.5em;
  font-weight: normal;
  margin-bottom: 0.8rem;
  font-family: "Dancing Script", cursive;
}

/* IT -------------------------------------------*/
article.it {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: stretch;
  gap: 1rem;
}

article.it section {
  flex-grow: 1;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 10px 10px 0 0;
}

article.it section h2 {
  padding: 0.4em;
  border-radius: inherit;
  background-color: rgba(0, 0, 0, 0.05);
}

article section h3 {
  margin: 0.8rem 0 0 0.8rem;
}

article.it a {
  padding: 0.3em;
  margin-right: 1rem;
  border-radius: 0.5rem;
}

article.it a:hover {
  color: yellow;
  background-color: rgba(0, 0, 0, 1);
}

/* MUSIC -------------------------------------------*/
article.music {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

/* RESUME -------------------------------------------*/
article.resume {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas:
    "top"
    "middle"
    "bottom";
}

article.resume .top {
  grid-area: top;
}
article.resume .career {
  grid-area: middle;
}
article.resume .skills {
  grid-area: bottom;
}

article.resume .print-btn {
  float: right;
  font-size: 1.8rem;
}

article.resume :is(ul, ol) {
  padding-left: 1.2em;
}

article.resume .name {
  margin-bottom: 0.8rem;
}

article.resume .details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

article.resume .academic {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

article.resume .aussie-flag {
  display: flex;
  justify-content: space-evenly;
}

article.resume .cover-letter {
  margin-bottom: 2rem;
}

/* article.resume .career {
  display: flex;
  flex-direction: column;
} */

article.resume .title-career {
  text-align: center;
  padding: 1em;
  border-bottom: none;
  margin-bottom: 1rem;

  background-color: rgba(0, 0, 0, 0.05);
}

article.resume .job {
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0 2em 0 2em;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
}

article.resume .job-date {
  font-weight: bold;
  margin-bottom: 0.5em;
}

article.resume .company-name {
  margin-bottom: 1em;
}

article.resume .skills h2 {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 0.4em 0.3em;
}

article.resume .skills ul {
  display: grid;
  grid-template-columns: auto auto;
}

article.resume .skills h3 {
  margin: 0;
}

@media screen and (min-width: 800px) {
  body {
    grid-template-columns: auto 75ch auto;
    grid-template-areas:
      "header header header"
      "left article right"
      "footer footer footer";
    font-size: 18px;
  }

  header .greeting {
    align-self: inherit;
  }

  /* RESUME -------------------------------------------*/
  article.resume .details {
    flex-direction: inherit;
  }

  article.resume .job {
    flex-direction: inherit;
  }

  article.resume .job-date {
    margin-right: 1rem;
    width: 20%;
  }

  article.resume .company {
    width: 80%;
  }
}
