:root {
  --greenblue: rgba(0, 255, 242, 1);
  --greenblue-bg: rgba(0, 255, 242, 0.1);

  --a-hover: rgba(0, 35, 135, 0.7);
  --a-hover-bg: var(--greenblue-bg);

  --bt-hover: var(--greenblue);
  --bt-hover-bg: var(--greenblue-bg);

  --header-hover: var(--greenblue);
  --header-hover-bg: var(--greenblue-bg);
  --header-bg: rgba(20, 20, 60, 1);
}

@font-face {
  font-family: "MrDeHaviland";
  src: url("/ttf/MrDeHaviland-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Merriweather", serif;
  src: url("https://fonts.googleapis.com/css?family=Merriweather");
}

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "article"
    "footer";
  margin: 0;
  min-height: 100vh;
  font-family: Ubuntu, "Trebuchet MS", sans-serif;
  font-size: 18px;
  line-height: 1.5;

  background-color: rgba(255, 255, 255, 1);
}

header {
  grid-area: header;
}
article {
  grid-area: article;
}
.left {
  grid-area: left;
}
.right {
  grid-area: right;
}

footer {
  grid-area: footer;
}

body :is(h1, h2, h3, h4, p) {
  margin: 0;
}

body h1 {
  font-size: 2em;
}

body h2 {
  font-size: 1.5em;
}

a,
button {
  text-decoration: none;
  transition: color ease-in-out 300ms;
  -webkit-transition: color ease-in-out 300ms;

  color: inherit;
}

a:hover,
button:hover {
  color: var(--a-hover);
}

.fl-c:first-letter {
  font-size: 3em;
  font-weight: bold;
  border: 1px dashed;
  margin-top: 0.4rem;
  margin-right: 0.4rem;
  padding: 0.26em 0.2em;
  float: left;

  border-color: inherit;
}

header {
  /* position: fixed;
  overflow: hidden;
  width: 100vw;
  z-index: 1;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.5); */

  color: rgba(255, 255, 255, 1);
  background-color: var(--header-bg);
}

header .icon {
  /* display: flex; */
  /* justify-content: flex-end; */
  float: right;
  margin-right: 1.6rem;
  margin-top: 0.7rem;
}

header .moonsunicon {
  cursor: pointer;
  font-size: 1.1em;
  transition: filter ease-in-out 500ms;
  -webkit-transition: filter ease-in-out 500ms;

  color: rgba(255, 255, 255, 0.6);
}

header .moonsunicon:hover {
  filter: drop-shadow(0 0 10px rgba(255, 255, 255, 1)) saturate(200%);
  -webkit-filter: drop-shadow(0 0 10px rgba(255, 255, 255, 1)) saturate(200%);
}

header .fa-sun {
  display: none;

  color: yellow;
}

header .menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-left: 2.3rem;
  padding: 0px;
}

header .greeting {
  margin: 1rem 0;
  font-size: 1.6em;
  font-weight: normal;
  font-family: "Dancing Script", monospace;
}

header nav {
  display: flex;
  align-items: flex-end;
  /* align-self: center; */
  font-family: "Open Sans", sans-serif;
}

header nav a {
  margin: 0;
  padding: 0.4em 1em 0;
  font-size: 0.75em;
  /* transition: background-color ease-in-out 1000ms; */
  /* -webkit-transition: background-color ease-in-out 1000ms; */
}

header nav a:hover {
  color: var(--header-hover);
}

header nav .active {
  /* transition: background-color ease-in-out 1000ms; */
  /* -webkit-transition: background-color ease-in-out 1000ms; */
  color: var(--header-hover);
  background-color: var(--header-hover-bg);
}

header nav a::after {
  width: 0%;
  display: block;
  content: "";
  margin: 0 auto;
  padding: 0.1em 0;
  border-bottom: 3px solid;
  transition: ease-in-out 300ms;
  -moz-transition: ease-in-out 300ms;

  border-bottom-color: transparent;
}

header nav a:hover::after {
  width: 100%;
  transition: width ease-in-out 150ms;
  -moz-transition: width ease-in-out 150ms;

  border-bottom-color: var(--header-hover);
}

article {
  /* padding: 5.2em 1em 1em; */
  padding: 1.2em;
}

/* HOME -------------------------------------------*/
article.home p {
  margin-bottom: 1.5rem;
}

article.home .narciso {
  float: right;
  margin-left: 1em;
}

article.home .photo {
  width: 10em;
  border: 6px solid var(--header-bg);
  border-radius: 50%;
  box-shadow: 0 10px 10px -3px rgba(0, 0, 0, 0.5);
  filter: brightness(110%) contrast(110%);
}

article.home .greeting {
  font-size: 3em;
  line-height: 1;
  margin-bottom: 0.8rem;
  font-family: "MrDeHaviland", cursive;
}

/* IT -------------------------------------------*/
article.it {
  display: flex;
  justify-content: space-around;
  flex-flow: column wrap;
  align-items: stretch;
  gap: 1rem;
}

article.it section {
  border: 1px solid;
  border-radius: 10px 10px 0 0;

  border-color: rgba(0, 0, 0, 0.15);

  /* flex-grow: 1; */
  /* font-family: "Open Sans", sans-serif; */
}

article.it section h2 {
  padding: 0.4em;
  border-radius: inherit;
  font-family: "Merriweather", serif;

  background-color: rgba(0, 0, 0, 0.05);
}

article.it section :is(h3, p) {
  margin: 0.8rem 0 0 0.8rem;
}

article.it section :is(h2, h3) a:hover {
  color: var(--header-bg);
  text-decoration: none;
  border-color: transparent;
  background-color: transparent;
}

article.it section p {
  font-weight: bold;
}

article.it section :is(ol, ul) {
  margin: 0.2em 0 1.5em 0;
}

article.it section li a {
  padding: 0.15em 0.3em 0.3em;
  border-radius: 10px;
  border: 1px solid transparent;
}

article.it section :is(li a:hover, .accordion:hover) {
  color: var(--greenblue);
  border: 1px solid var(--greenblue);
  background-color: var(--header-bg);
}

article.it .accordion {
  padding: 0.15em 0.3em;
  border-radius: 10px;
  border: 1px solid transparent;
  background-color: transparent;
  font-size: 0.97em;
}

article.it .panel {
  padding: 1em;
  display: none;
  overflow: hidden;
  background-color: rgba(0, 174, 255, 0.05);
  border: 2px dotted rgba(43, 71, 83, 0.5);
  line-height: 1.1;
  font-size: 0.7em;
  margin-right: 3rem;
  font-weight: bold;
}

/* MUSIC -------------------------------------------*/
article.music {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* RESUME -------------------------------------------*/
article.resume {
  display: grid;
  grid-template-columns: auto;
  grid-template-areas:
    "top"
    "middle"
    "bottom";
}

article.resume .top {
  grid-area: top;
}
article.resume .career {
  grid-area: middle;
}
article.resume .skills {
  grid-area: bottom;
}

article.resume .print-btn {
  float: right;
  margin-top: 0.3rem;
  font-size: 1.8rem;
}

article.resume :is(ul, ol) {
  padding-left: 1.2em;
}

article.resume .cover-letter {
  /* column-count: 2; */
  /* column-gap: 2.5rem; */
  text-align: justify;
}

article.resume .name {
  margin-bottom: 0.8rem;
}

article.resume .details {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  font-size: 1em;
  list-style: none;
  padding: 0;
  line-height: 2em;
}

article.resume .details a:hover {
  /* color: rgba(0, 0, 0, 0.6); */
}

article.resume .bigfive {
  transition: filter ease-in-out 400ms;
  /* background-color: rgba(0, 0, 0, 1); */
}
article.resume .bigfive:hover {
  filter: saturate(200%) drop-shadow(0 0 1px rgba(0, 0, 0, 0.7));
}
article.resume .bigfive .Bi {
  color: #259efa;
}
article.resume .bigfive .g {
  color: #25e6a4;
}
article.resume .bigfive .F {
  color: #fdba3a;
}
article.resume .bigfive .i {
  color: #fe5f76;
}
article.resume .bigfive .ve {
  color: #8a74d6;
}

article.resume .academic {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

article.resume .australia {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

article.resume .australia .title {
  text-align: center;
}

article.resume .australia .map {
  width: auto;
  height: 3em;
}

article.resume .cover-letter {
  margin-bottom: 2rem;
}

article.resume .title-career {
  text-align: center;
  padding: 1em;
  border-bottom: none;
  margin-bottom: 1rem;

  background-color: rgba(0, 0, 0, 0.05);
}

article.resume .job {
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-radius: 0 2em 0 2em;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;

  border-color: rgba(0, 0, 0, 0.15);
}

article.resume .job-date {
  font-weight: bold;
  margin-bottom: 0.5em;
}

article.resume .company-name {
  margin-bottom: 1em;
}

article.resume .skills {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "top top"
    "left right";
  gap: 0.5rem;
}

article.resume .skills .title {
  grid-area: top;
}
article.resume .skills .personal {
  grid-area: left;
}
article.resume .skills .tech {
  grid-area: right;
}

article.resume .skills h2 {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 0.4em 0.3em;
}

article.resume .skills h3 {
  margin: 0.5em 0;
}

@media screen and (min-width: 768px) {
  body {
    grid-template-columns: auto 60ch auto;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
      "header header header"
      "left article right"
      "footer footer footer";
    font-size: 22px;
  }

  /* HOME -------------------------------------------*/
  article.home .photo {
    width: 12em;
  }

  /* RESUME -------------------------------------------*/
  article.resume .details {
    flex-direction: row;
    font-size: 0.95em;
  }

  article.resume .australia .map {
    justify-content: space-evenly;
  }

  article.resume .job {
    flex-direction: inherit;
  }

  article.resume .job-date {
    margin-right: 1rem;
    width: 20%;
  }

  article.resume .company {
    width: 80%;
  }
}

@media print {
  @page {
    size: A4;
  }

  body {
    font: 13pt Times, serif;
    line-height: 1.3;
    background: #fff !important;
    color: #000;
  }

  :is(header, footer, .fa-print, .australia) {
    display: none;
    /* visibility: hidden; */
  }

  article {
    padding-top: 2ch;
  }

  img {
    max-width: 500px;
  }

  .fl-c:first-letter {
    font-size: 20pt;
    border: none;
    margin: 0;
    padding: 0;
  }

  article.resume .title-career {
    margin-bottom: 0;
    padding: 0.3em;
  }

  article.resume .job {
    break-before: avoid-page;
  }
}

@media (hover: none), (hover: on-demand) {
  /* targeting touch devices */

  header nav a:hover::after {
    width: 0%;
  }
}

@media (orientation: landscape) and (hover: none), (hover: on-demand) {
  /* targeting touch devices */
}
