$colorHover: rgb(66,200,255);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
  scroll-behavior: smooth;
}

body, html {
  text-align: center;
  height: 100%;
}

a {
  text-decoration: none;
}

.logoBg {
  position: relative;
  background-color: #000;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("backgroud.jpg");
  color: #fff;
  min-height: 70%;
  overflow: auto;
}

.logoDiv {
  background-image: radial-gradient(black, rgba(0,0,0,0.8), rgba(0,0,0,0.6));
  position: absolute;
  height: 100%;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

#logoCenter, #logoAround {
  margin-top: 390px;
  position: absolute;
}

#logoCenter {
  -webkit-animation: spin 10s infinite;
  animation: spin 10s infinite;
  animation-timing-function: linear;
}

#logoAround {
  -webkit-animation: spin 60s infinite;
  animation: spin 60s infinite;
  animation-timing-function: linear;
}

.logoDiv h1 {
  font-family: 'El Messiri', sans-serif;
  font-size: 60px;
  margin-top: 250px;
}

.logoDiv p {
  letter-spacing: 2px;
  text-transform: uppercase;
  color: rgb(255,255,255);
  animation-name: opacity;
  animation-duration: 4s;
}

#arrow span {
  position: absolute;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 2px solid rgb(80,80,80);
  border-bottom: 2px solid rgb(80,80,80);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: arrow 2.5s infinite;
  animation: arrow 2.5s infinite;
}

.tabButton {
  border-top: 4px solid rgb(30,30,30);
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  background-color: rgb(15,15,15);
  min-height: 20%;
}

.button {
  font-weight: bold;
  color: #fff;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 24px;
  background-color: inherit;
}

.button:hover {
  color: $colorHover;
}

.email {
  background-color:#102;
  -webkit-animation: email 10s infinite;
  animation: email 10s infinite;
  min-height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

a .email {
  font-size: 20px;
  color: #bbb;
  font-family: 'Courier New', Courier, monospace;
}

a .email:hover {
  color: rgb(66,200,255);
}

#hardware, #software, #network {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#hardware {background-image: url("hardware.jpg");}
#software {background-image: url("software.jpg");}
#network  {background-image: url("network.jpg");}

.side {
  top: 0;
  left: 0;
  width: 0; /* change this with JavaScript */
  height: 100%; /* 100% Full-height */
  z-index: 1;
  position: fixed;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s;
}

.sideCaption {
  background-image: linear-gradient(to bottom right, rgba(0,0,0,1), rgba(0,0,0,0.8));
  height: 100%;
}

.sideText {  
  display: grid;
  justify-content: center;
  align-content: center;
  grid-gap: 20px;
  grid-auto-flow: column;
  padding: 80px 10px;
}

.side .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  color: rgb(255,255,255);
  display: block;
  transition: 0.3s;
}

.side .closebtn:hover {
  color: rgb(234,67,53);
}

.card {
  box-shadow: 0 4px 8px 0 rgb(0,0,0);
  max-width: 200px;
  background-color: #eee;
  color: #000;
  animation-name: opacity;
  animation-duration: 1.5s;
}

.card img {
  width: 100%;
  height: auto;
}

.card h2 {
  padding: 30px 0;
}

.cardDetails {
  border: none;
  outline: 0;
  padding: 12px;
  color: #fff;
  background-color: #333;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
}

.cardDetails:hover {
  background-color: rgb(66, 101, 255);
}

.sideItem {
  height: 100%; /* 100% Full-height */
  width: 0; /* change this with JavaScript */
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s;
}

.sideItemCaption {
  background-color:rgb(0,0,0);
  height: 100%;
}

.sideItemText {
  color: #bbb;
  padding: 20px 35%;
  letter-spacing: 1px;
}

.sideItemText h1 {
  padding-bottom: 30px;
  color: #fff;
}

.sideItemText h3 {
  text-align: justify;
}

@keyframes spin {
  0%    {transform: rotate(0deg);}
  100%  {transform: rotate(360deg);}
}

@-webkit-keyframes spin {
  0%    {transform: rotate(0deg);}
  100%  {transform: rotate(360deg);}
}

@keyframes email {
  0%    {background-color: #102;}
  50%   {background-color: #000;}
  100%  {background-color: #102;}
}

@-webkit-keyframes email {
  0%    {background-color: #102;}
  50%   {background-color: #000;}
  100%  {background-color: #102;}
}

@keyframes opacity {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

@-webkit-keyframes opacity {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

@-webkit-keyframes arrow {
  0% {-webkit-transform: rotate(-45deg) translate(0, 0);opacity: 0;}
  50% {opacity: 1;}
  100% {-webkit-transform: rotate(-45deg) translate(-20px, 20px);opacity: 0;}
}
@keyframes arrow {
  0% {transform: rotate(-45deg) translate(0, 0);opacity: 0;}
  50% {opacity: 1;}
  100% {transform: rotate(-45deg) translate(-20px, 20px);opacity: 0;}
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 640px) {
  .sideItemText {padding: 20px 15%;}
  .card {max-width: 150px;}
  .card h2 {font-size: 18px;}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-height: 700px) {
  #logoCenter, #logoAround {margin-top: 100px;}
  #logoCenter {width: 5%;}
  #logoAround {width: 10%;}
  .logoDiv h1 {
    margin-top: 100px;
    font-size: 30px;
  }
  .sideText {padding: 20px 0;}
}