* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.logo {
    padding: 160px 0 19px 0;
}

.logo-ad {
    width: 100%;
    text-align: left;
    background-color:#f1f1f1;
    padding: 15px 0 10px 15px;
}

.menu {
    padding-top: 10px;
    text-align: left;
}

.menu a {
    font-size: 12px;
    text-decoration: none;
    padding: 0 0 0 13px;
    cursor: pointer;
}

.menu a:hover {
    text-decoration: underline;
}

.grid-con {
    display: grid;
    grid-template-columns: 210px auto;
    margin: 30px 0 0 30px;
    padding: 0;
}

.grid-it {
    padding: 10px;
    text-align: left;
}

.center {
    text-align: center;
}

.q {
    border-style: solid;
    border-radius: 50px;
    border-color: lightgray;
    border-width: 1px;
    width: 580px;
    height: 45px;
    font-size: 12px;
    padding: 0 20px;
}

.q-ad {
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    width: 580px;
    height: 30px;
    font-size: 16px;
    padding: 0 10px;
}

.button {
    width: auto;
    height: 30px;
    padding: 0 16px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    margin: 11px 14px;
}

input:hover.query, .button:hover { /* or input[type="submit"]:hover */
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border: 1px solid #c6c6c6;
    color: #222;
}

input:focus {
    outline: none;
}

.text-ad {
    color: #d93025;
    text-align: left;
    font-size: 15pt;
    border-bottom-color: lightgray;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding: 30px 0 30px 30px;
}

.text-imagens {
    margin-top: 0;
    padding-top: 0;
    color: #4285F4;
    font-size: 15px;
}