* {
    box-sizing: border-box;
}

img {
    align: center;
}

.menu {
    font-size: 16px;
    text-align: left;
}

.menu a {
    text-decoration: none;
    padding: 0 0 0 13px;
    cursor: pointer;
}

.menu a:hover {
    text-decoration: underline;
}

.grid-con {
    display: grid;
    grid-template-columns: 190px auto;
    margin: 0;
    padding: 0;
}

.grid-it {
    text-align: left;
}

div {
    text-align: center;
    margin: 10px;
    size: 400px;
}

.query {
    border-style: solid;
    border-radius: 50px;
    border-color: lightgray;
    border-width: 1px;
    width: 580px;
    height: 40px;
    font-size: 16px;
    padding: 0 20px;
}

.q-ad {
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
    width: 580px;
    height: 30px;
    font-size: 16px;
    padding: 0 10px;
}


.button {
    width: auto;
    height: 30px;
    padding: 0 16px;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    margin: 11px 14px;
}


input:hover.query, .button:hover { /* or input[type="submit"]:hover */
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    border: 1px solid #c6c6c6;
    color: #222;
}

input:focus {
    outline: none;
}