* {
    box-sizing: border-box;
}

div {
    .divv {
        text-align: center;
        margin: 10px;
        size: 400px;
    }
}

#query {
    border-style: solid;
    border-radius: 50px;
    border-color: lightgray;
    border-width: 1px;
    width: 580px;
    height: 40px;
    font-size: 16px;
    padding: 0 20px;
}

#button {
    width: 120px;
    height: 30px;
    padding: 0 10px;
    border-radius: 5px;
    border-style: solid;
    border-color: lightgray;
    border-width: 1px;
}