* {
  font-family: 'Open Sans Condensed', sans-serif;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

.home {
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 70%;
  color: #fff;
  text-align: center;
  background-image: url("backgroud.jpg");
}

@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

#section05 a span {
  position: absolute;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}

.demo a {
  position: absolute;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  letter-spacing: 1.5px;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}

.description {
  text-align: center;
  padding: 5%;
  background-color: #000;
  color: white;
}

@keyframes desh2 {
  0%   {color: rgb(0,0,0);}
  100% {color: rgb(150, 150, 150);}
}

.description h2 {
  animation-name: desh2;
  animation-duration: 4s;
  color: rgb(150, 150, 150);
  letter-spacing: 2.2px;
}

.logo-div {
  position: absolute;
  left: 0;
  top: 20%;
  width: 100%;
  text-align: center;
  color: #000;
}

.logo-div p {
  letter-spacing: 5px;
  text-transform: uppercase;
  padding-bottom: 8px;
  margin: 0;
  color: rgba(255, 255, 180, 1);
}

.logo-div h1 {
  color: #fff;
  font-family: 'Play', sans-serif;
  text-transform: capitalize;
  font-size: 60px;
}

.caption, .caption2 {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
}

.caption {
  background-image: radial-gradient(black, rgba(0,0,0,0.7), rgba(0,0,0,0.3));
}

.tablink {
  background-color: rgba(0,0,0,1);
  color: rgba(255,255,255,1);
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 25px;
  width: 33.33%;
}

.tablink:hover {
  border-bottom-style: outset;
  border-bottom-color: white;
  border-bottom-width: 2px;
}

#Hardware, #Software, #Network {
  height: 100%;
}

#Hardware {background-image: url("hardware.jpg"); }
#Software {background-image: url("software.jpg");}
#Network {background-image: url("network.jpg");}

/* Style the tab content (and add height:100% for full page content) */
.tabcontentback {
  color: white;
  display: none;
}

.tabcontentcaption {
  background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.9), rgba(0,0,0,0.7));
  height: 100%;
}

.tabcontent {
  padding: 70px 40px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
}

.grid-container a {
  border-radius: 10px;
  padding: 20px;
  margin: 4px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  margin: 5px auto;
  width: 80%;
}

.grid-container a:hover {
  background-color: rgba(255, 255, 255, 0.1);
  color: rgb(250, 100, 200);
}

/*
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
*/

@media only screen and (max-device-width: 1024px) {
  /* Turn off parallax scrolling for tablets and phones
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  */
  
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .home {
    min-height: 100%;
  }

  #logo {
    width: 16%;
  }
  
  .logo-div {
    top: 10%;
  }

  .logo-div h1 {
    font-size: 45px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}