body, html {
  height: 100%;
  margin: 0;
  padding: 0;
}

h2 {
  padding-top: 50px;
  text-transform: uppercase;
  font-size: 35px;
}

h3 {
  font-size: 20px;
  text-transform: uppercase;
}

.home, .hardware, .software, .network {
  position: relative;
  /* opacity: 0.65; */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100%;
  color: #fff;
  text-align: center;
}

.home {
  background-image: url("backgroud.jpg");
}

.hardware {
  background-image: url("hardware.jpg");
}

.software {
  background-image: url("software.jpg");
}

.network {
  background-image: url("");
}

.description {
  text-align: center;
  padding: 10% 0;
  background-color: #000;
  color: white;
  font-family: 'Open Sans Condensed', sans-serif;
}

.logo-div {
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  text-align: center;
  color: #000;
}

.logo-div p {
  letter-spacing: 5px;
  text-transform: uppercase;
  padding-bottom: 8px;
  margin: 0;
  color: rgba(255, 255, 180, 1);
  font-family: 'Open Sans Condensed', sans-serif;
}

.logo-div h1 {
  color: #fff;
  font-family: 'Play', sans-serif;
  text-transform: capitalize;
  font-size: 60px;
}

#logo {
  padding-bottom: 50px;
}

.caption1, .caption2 {
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
}

.caption1 {
  background-image: radial-gradient(black, rgba(0,0,0,0.65), rgba(0,0,0,0.3));
}

.caption2 {
  background-color: rgba(0,0,0,0.88);
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
}

.grid-container a {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 20px;
  margin: 4px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  margin: 5px auto;
  width: 80%;
}

.grid-container a:hover {
  background-color: rgba(255, 255, 255, 0.12);
  color: rgba(255, 255, 255, 0.5);
}

.tablink {
  background-color: #555;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #777;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: white;
  display: none;
  padding: 100px 20px;
  height: 100%;
}

#Home {background-color: red;}
#News {background-color: green;}
#Contact {background-color: blue;}
#About {background-color: orange;}

/*
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}
*/

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

@media only screen and (max-device-width: 1024px) {
  /* Turn off parallax scrolling for tablets and phones
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  */
  
  #logo {
    width: 80%;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  #logo {
    width: 70%;
  }
  
  .logo-div {
    top: 15%;
  }

  .logo-div h1 {
    font-size: 45px;
  }

  h2 {
    padding-top: 30px;
    text-transform: uppercase;
    font-size: 25px;
  }

  h3 {
    font-size: 15px;
    text-transform: uppercase;
  }
}


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

  
}