* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
  scroll-behavior: smooth;
}

body, html {
  text-align: center;
  height: 100%;
}

.home {
  color: #fff;
  position: relative;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 70%;
  background-image: url("backgroud.jpg");
}

.homeCaption {
  background-image: radial-gradient(black, rgba(0,0,0,0.7), rgba(0,0,0,0.3));
  position: absolute;
  height: 100%;
  width: 100%;
}

.logoDiv {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

#logo {
  padding: 150px 0 20px 0;
}

.logoDiv h1 {
  font-family: 'El Messiri', sans-serif;
  text-transform: capitalize;
  font-size: 60px;
  padding: 0 0 10px 0;
}

.logoDiv p {
  letter-spacing: 5px;
  text-transform: uppercase;
  padding: 0 0 20px 0;
  color: rgb(255, 255, 180);
  animation-name: desh2;
  animation-duration: 4s;
}

#arrow a span {
  position: absolute;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 2px solid rgb(255, 255, 180);
  border-bottom: 2px solid rgb(255, 255, 180);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: arrowAni 2.5s infinite;
  animation: arrowAni 2.5s infinite;
}

.question {
  border-top: 5px solid rgb(20,20,20);
  text-align: center;
  color: #fff;
  padding: 70px 0;
  background-color: #000;
}

.tabButtonGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  background-color: #000;
}

.tabButton {
  font-family: 'Julius Sans One', sans-serif;
  background-color: rgba(0,0,0,1);
  color: #fff;
  float: left;
  border: none;
  border-bottom: rgba(250,100,200,0) 2px solid;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 20px;
}

.tabButton:hover {
  border-bottom: rgb(250,100,200) 2px solid;
}

#Hardware, #Software, #Network, #a1 {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

.email {
  text-decoration: none;
}

.email p {
  color: #bbb;
  background:#102;
  margin-top: 100px;
  padding: 20px 0;
  font-size: 25px;
  font-family: 'Courier New', Courier, monospace;
}

.email p:hover {
  color: rgb(250,100,200);
}

#Hardware {background-image: url("hardware.jpg");}
#Software {background-image: url("software.jpg");}
#Network  {background-image: url("network.jpg");}


/* Style the tab content (and add height:100% for full page content) */
.tab {
  display: none;
  color: #fff;
}

.tabCaption {
  background-image: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,0.9), rgba(0,0,0,0.7));
  height: 100%;
  padding: 30px 0;
}

.gridHardware, .gridNetwork {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  grid-gap: 20px;

}
.gridSoftware {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  grid-gap: 20px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1);
  max-width: 200px;
  min-width: 161px;
  background-color: #333;
  color: #bbb;
  animation-name: desh1;
  animation-duration: 1.5s;
}

.card img {
  width: 100%;
  height: auto;
}

.card h2 {
  padding: 30px 0;
}

.details {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #111;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.details:hover {
  color: rgb(250, 100, 200);
}

.side {
  height: 100%; /* 100% Full-height */
  width: 0; /* change this with JavaScript */
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s;
}

.sideText {
  letter-spacing: 1px;
  background-image: linear-gradient(to bottom right, rgba(0,0,0,1), rgba(0,0,0,1));
  color: #fff;
  height: 100%;
  padding: 20px 100px;
}

.sideText h1 {
  padding-bottom: 30px;
}

.sideText h3 {
  text-align: justify;
}

.side img { /* responsive image */
  width: 100%;
  height: auto;
}

.side a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.side a:hover {
  color: rgb(255, 0, 0);
}

.side .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@keyframes desh2 {
  0%   {color: rgb(0,0,0);}
  100% {color: rgb(255, 255, 180);}
}

@-webkit-keyframes desh2 {
  0%   {color: rgb(0,0,0);}
  100% {color: rgb(255, 255, 180);}
}

@keyframes desh1 {
  0%   {opacity: 0;}
  100% {opacity: 100;}
}

@-webkit-keyframes desh1 {
  0%   {opacity: 0;}
  100% {opacity: 100;}
}

@-webkit-keyframes arrowAni {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes arrowAni {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}

@media only screen and (max-device-width: 1024px) {
  /* Turn off parallax scrolling for tablets and phones
  .bgimg-1, .bgimg-2, .bgimg-3 {
    background-attachment: scroll;
  */
  
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-height: 450px) {
  
  .side {padding-top: 15px;}
  
}

@media only screen and (max-width: 600px) {

  #logo {width: 16%;}
  .logoDiv h1 {font-size: 50px;}
  .sideText {
    padding: 20px 60px;
    margin-left: 0;
    border-left: 0;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}